{
  "check_interval": 5,
  "tmp_dir": "/var/tmp/cloudflare2loggly",
  "loggly_tag": "cloudflare",
  "loggly_token": "xyz",
  "sftp_hostname": "logs.cloudflare.com",
  "sftp_port": 1111,
  "sftp_username": "cloudflare-sftp-username",
  "sftp_private_key_file" : "/path/to/your/private.key"
}
